<head>
  <title><%= title %></title>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css" />
  <link rel="stylesheet" href="stylesheets/style.css" />

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/chroma-js/chroma.min.js"></script>
  <script src="javascripts/main.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
