<div class="stigmer-menu">
  <ul>
    <li><a href="newgame">Nouvelle partie</a></li>
    <li><a href="web/fr">Jeu Web</a></li>
    <li><a href="local">Jeu Local</a></li>
    <li><a href="replay">Replay</a></li>
    <li><a href="rules">Gestion des règles</a></li>
    <li><a href="maps">Gestion des cartes</a></li>
    <li><a href="bots">Gestion des bots</a></li>
    <li><a href="games">Gestion des jeux</a></li>
    <li><a href="manage">Gestion des données</a></li>
    <li><a href="scores">Scores</a></li>
    <li><a href="logout">Déconnexion</a></li>
  </ul>
</div>
